<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Admissions</title>
</head>
<body style="background-color: lightyellow;">

<div align="center">
	<fieldset>
		<h1>NEW ADMISSION</h1>
		<form action="addVadak" method="POST">
			<div>
				<h3>Please fill out this form</h3>
				<table  style="background-color: orange;">
					<tr>
						<td>ID no.</td>
						<td><input type="Number" name="ID" required></td>
					</tr>
					<tr>
						<td>Full Name</td>
						<td><input type="text" name="fname" placeholder="Enter your full name" required></td>
					</tr>
					<tr>
						<td>Gender :</td>
						<td><input type="radio" name="gender" value="Male">Male
							<input type="radio" name="gender" value="Female">Female</td>
					</tr>
					<tr>
						<td>Age</td>
						<td><input type="Age" name="age" required></td>	
					</tr>		
				  <td>Email ID</td>
						<td><input type="Email" name="Eid" placeholder="Enter Mail ID"></td>	
					</tr>
					<tr>
						<td>Contact Number</td>
						<td><input type="Number" name="numb" placeholder="Enter Contact Number" required></td>
					</tr>
					<tr>
						<td>Emergency Contact</td>
						<td><input type="Number" name="enumb" placeholder="Enter Emergency/Parent's number"></td>
					</tr>
					<tr>
						<td>Address</td>
						<td><input type="text" name="adrs"required></td>
					</tr>
					<tr>
						<td>Location</td>
						<td><input type="text" name="loc"required></td>
					</tr>
					<tr>
						<td>Experience, If any</td>
						<td><input type="text" name="expn" placeholder="Any history in music"></td>
					</tr>
					<tr>
						<td>Picture</td>
						<td><input type="file" name="pic"></td>
					</tr>
					<tr>
						<td>Preference Of Choice</td>
						<td><input type="radio" name="pref" value="dhol">Dhol
							<input type="radio" name="pref" value="tasha">Tasha
							<input type="radio" name="pref" value="dhwaj">Dhwaj
							<input type="radio" name="pref" value="tol">Tol
							<input type="radio" name="pref" value="management">Management</td>
					</tr>
				</div>
				<tr>
					<td></td>
					<td><input type="submit" value="Submit" >  <input type="reset" value="Reset"></td>
				</tr>
			</table>
		</form>
	</fieldset>
</div>

<a href="/">Go to Login Page</a>