
<body style="background-color: orange;">
	<h1 align="center" style="color: red;">CDB PERSON LIST</h1>
	<table border="1px" cellspacing="10" style=" background-color: ghostwhite;">
		<tr style="color: red;">
			<th>ID</th>
			<th>Full Name</th>
			<th>Gender</th>
			<th>Age</th>
			<th colspan="2">Action</th>
		</tr>

		{% for tup in vlist %}
		<tr>
			<td>{{tup[0]}}</td>
			<td>{{tup[1]}}</td>
			<td>{{tup[2]}}</td>
			<td>{{tup[3]}}</td>
			<td>{{tup[4]}}</td>
			<td>
				<a href="editPerson/{{tup[0]}}">Edit</a>/
				<a href="deletePerson?id={{tup[0]}}">Delete</a>
			</td>
		</tr>
		{% endfor %}
	</table>
</body>
<h3><a href="/home"> Return to Home Page</a></h3>
<h3><a href="/Admissions"> Admission Form</a></h3>
