<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Kaleshwarnath Home</title>
</head>
<body style="background-color: orange;">
	<style type="text/css"> h1{color: red;} </font></style>
	<div align="center"> 
		<img src="C:\Users\thube\OneDrive\Desktop\Data Science\Data science\Python\Projects\KDP Website\templates\kdplogo\Logo.png" alt ="Kaleshwarnath Logo">
		<h1>WELCOME TO KALESHWARNATH PRATISHTHAN</h1>
	</div>
	<p style="font-size:120%;">
		We are family a of around 150 volunteers engaged in social works to 
		keep marathi community & literature alive.
		We unite as one under the name, a roof "Kaleshwarnath".
		We carry out parades, perform arts, into music, run a troup called 
		"Kaleshwarnath Dhol Pathak", a one of the most beloved troup in mumbai having three branches starting from Pune, Mumbai and at Surat, Gujrat spreading marathi culter beyond our state.
		We encourage you all to be a helping in this too, enjoy arts.
		Register and enroll for admissions.
		Do check out through videos and posts, look out for upcoming events.
		<br>
		<div align="center"><span style="font-size :20px;">एकच जल्लोष एकच नाद फक्त आणि फक्त</span><span style="font-size :40px; color: red;"> कलेश्वरनाथ </span></div>
	</p>

	<a href="Admissions">To participate, Fill out this admission form</a>
	<br>
	<a href="Vadaklist">All Vadak</a>
</body>
</html>