<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Admissions</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='Update.css')}}">
</head>
<body>

<div align="center">
	<fieldset>
		<h1>UPDATE INFORMATION</h1>
		<form action="/updatePerson" method="POST">
				<h3>Please update the required information</h3>
				<table>
					<tr>
						<td>ID no.</td>
						<td><input id="Id" type="Number" name="ID" value="{{row[0]}}" required></td>
					</tr>
					<tr>
						<td>Full Name</td>
						<td><input id="name" type="text" name="fname" placeholder="Enter your full name" value="{{row[1]}}" required></td>
					</tr>
					<tr>
						<td>Gender :</td>
						<td><input id="male" type="radio" name="gender" value="Male">Male
							<input id="female" type="radio" name="gender" value="Female">Female</td>
					</tr>
					<tr>
						<td>Age</td>
						<td><input id="age" type="Age" name="age" value="{{row[3]}}" required></td>	
					</tr>		
					<tr>
						<td>Email ID</td>
						<td><input id="email" type="Email" name="Eid" placeholder="Enter Mail ID" value="{{row[4]}}"></td>	
					</tr>
					<tr>
						<td>Contact Number</td>
						<td><input id="num" type="Number" name="numb" placeholder="Enter Contact Number" value="{{row[5]}}" required></td>
					</tr>
				<tr>
					<td><input type="submit" value="Submit" ></td>
					<td><input type="reset" value="Reset"></td>
				</tr>
			</table>
		</form>
	</fieldset>
</div>

<a href="Personlist">All Person</a>
<br>
<a href="/">Go to Home Page</a>
